/**************************\
 * custom.css               |
 **************************/

#Timer {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

.container-centered {
    display: table;
    margin-right: auto;
    margin-left: auto;
}

img.img-fluid { /* Set image opacity to 60% at the beginning */
    opacity : 0.6;
    filter : alpha(opcity=60); /* For IE8 and older browsers */
}

img.img-fluid:hover {
    cursor: pointer;
}