/**************************\
 * custom.css               |
 **************************/

.container-centered {
    display: table;
    margin-right: auto;
    margin-left: auto;
}

.title-font {
    font-size: 22px;
    font-weight: bold;
 }

.gap-top {
    margin-top: 6px;
}

.entity-box {
    display: inline-block;
    background: rgb(187, 253, 148);
    cursor: pointer;
 }

.content-frame {
    visibility: hidden;
    display: none; /* inline-block; */
    background: #e0e0eb;
}

.cards-state input[type="text"] {
    width: 5%;
}

.cards-state {
    margin: 4px 0 0 0;
}

